version: '3.8'

services:
  app:
    build:
      context: ..
      dockerfile: dockerfiles/app.dockerfile
    volumes:
      - ..:/workspace:cached
    working_dir: /workspace/src
    env_file:
      - ../.env

    command: sleep infinity
    depends_on:
      - db
  celery:
    build:
      context: ..
      dockerfile: dockerfiles/app.dockerfile
    volumes:
      - ..:/workspace:cached
    working_dir: /workspace/src
    env_file:
      - ../.env

    command: celery -A backend worker --loglevel=info
    depends_on:
      - redis
      - db

  celery-beat:
    build:
      context: ..
      dockerfile: dockerfiles/app.dockerfile
    volumes:
      - ..:/workspace:cached
    working_dir: /workspace/src
    env_file:
      - ../.env
    command: celery -A backend beat --loglevel=info --scheduler django_celery_beat.schedulers:DatabaseScheduler
    depends_on:
      - redis
      - db

  redis:
    image: redis:alpine
    restart: unless-stopped

  db:
    build:
      context: ..
      dockerfile: dockerfiles/db.dockerfile
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    env_file:
      - ../.env

volumes:
  postgres-data:
